.moviecard{
  padding: 4rem;
  display: grid;
  gap:4em;
  place-items: center;
}
.movieline{
  background:black;
    width: 15rem;
     height: 30rem;
     
    text-align: center;
}
.bookarea{
  background-image: url(https://yt3.ggpht.com/ytc/AKedOLSkNBClOIZNjJayMdTxRhUh6LYEXjjjCv0tMJ3-mA=s900-c-k-c0x00ffffff-no-rj);
    color: #dc0000;
  height: 13rem;
     background-repeat: no-repeat, repeat;  
    background-position: center;
    background-size: cover;
}
@media (min-width: 400px){
  .moviecard{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 600px){
  .moviecard{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 900px){
  .moviecard{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

